name: RWA News Auto-Post

on:
  schedule:
    - cron: '0 23 * * *' # 日本時間 08:00
    - cron: '0 9 * * *'  # 日本時間 18:00
  workflow_dispatch:     # 手動実行ボタンを表示させる設定

jobs:
  post-news:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          python -m playwright install chromium --with-deps
          
      - name: Run script
        env:
          GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
          NOTE_EMAIL: ${{ secrets.NOTE_EMAIL }}
          NOTE_PASSWORD: ${{ secrets.NOTE_PASSWORD }}
        run: python main.py
